/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Feb-2018, 14:51:58
    Author     : tomwozzer
*/

body{
    margin:0;
    padding:0;
    background-color:#262525
}
#postContainer{
    margin-top:15%;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    width:70%;
    min-height:150px;
    margin-left:5%;
    
}

#title{
    margin-left:5%;
    font-size:20px;
    padding:10px;
}

#content{
    margin-left:10%;
    margin-top:-10px;
}


.response{
    position:absolute;
    margin-top:350px;
    height:100px;
    margin-left:300px;
    font-size:20px;
    color:white;     
    width:300px;
}

#postComment{
    background-color: rgba(255, 0, 0, 0);
    color:white;
    border-style:none;
    font-size:12px;
    width:100px;
    height:40px;
    margin-left:10px;
    transition:0.5s;
    position:absolute;
}

#postComment:hover{
    transition:0.5s;
    color:#76e291;
}



#formPost{
    width:300px;
    height:50px;
    margin-top:30px;
    margin-left:150px;
}
.response{
    position:static;
    height:100%;
    width:90%;
    background-color:#1f1f21;
    margin-top:10px;
    margin-left:10%;
}

.sender{
    position:absolute;
    margin-top:-2%;
    margin-left:5%;
    color:#76e291;
}

.commentReply{
    margin-left:5%;
}

#editPost{
    margin-left:20%;
    margin-top:-78px;
}

#editPost:hover{
    transition:0.5s;
    color:#76e291;
}

#deletePost{
   margin-top:-77px;
    margin-left:27%;
}

#deletePost:hover{
    transition:0.5s;
    color:#76e291;
}

#op{
    color:#76e291;
}

.actionButton{
     background-color: rgba(255, 0, 0, 0);
    color:white;
    border-style:none;
    font-size:12px;
    width:100px;
    height:40px;
    margin-left:10px;
    position:absolute;
    transition:0.5s;
    margin-top:-2%;
}

.controlsContainer{
    margin-top:5%;
    height:40px;
}

#videoSource{
    z-index: 1;
}