/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Feb-2018, 14:51:58
    Author     : tomwozzer
*/

body{
    margin:0;
    padding:0;
}
#postContainer{
    margin-top:15%;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    width:70%;
    min-height:120px;
    margin-left:5%;
    padding:10px;
}

#title{
    margin-left:5%;
    font-size:20px;
}

#content{
    margin-left:10%;
}


.response{
    position:absolute;
    margin-top:350px;
    height:100px;
    margin-left:300px;
    font-size:20px;
    color:white;     
    width:300px;
}

#postComment{
    background-color: rgba(255, 0, 0, 0);
    color:white;
    border-color:white;
    width:100px;
    height:40px;
    margin-left:100px;
}

#formPost{
    width:300px;
    height:50px;
    position:absolute;
    margin-top:600px;
    margin-left:150px;
}
.response{
    margin-top:10px;
    min-height:60px;
    width:70%;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-left:10%;
    margin-top:5%;
    padding:10px;
}

.comment{
    
}

.sender{
    margin-top:-100px;
}
