/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Feb-2018, 14:51:58
    Author     : tomwozzer
*/

body{
    margin:0;
    padding:0;
}

#title{
    position:absolute;
    margin-top:200px;
    margin-left:100px;
    color:white;
    font-size:30px;
    width:600px;
    height:200px;
    border-style:solid;
    border-color:white;
    border-width:1px;
}

.Content{
    position:absolute;
    width:300px;
    height:300px;
    margin-top:275px;
    margin-left:100px;
}

.response{
    position:absolute;
    margin-top:450px;
    height:100px;
    margin-left:300px;
    font-size:20px;
    color:white;     
    border-style:solid;
    border-color:white;
    border-width:1px;
    width:300px;
}

#postComment{
    background-color: rgba(255, 0, 0, 0);
    color:white;
    border-color:white;
    width:100px;
    height:40px;
    margin-left:100px;
}

#formPost{
    width:300px;
    height:50px;
    position:absolute;
    margin-top:600px;
    margin-left:150px;
}
