/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Apr-2018, 17:19:22
    Author     : tomwa
*/

#deletePost{
    margin-top:20%;
    height:300px;
    width:300px;
    position:absolute;
    margin-left:45%;
}