/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Feb-2018, 09:24:21
    Author     : tomwozzer
*/

#errorContainer{
    position: absolute;
    color:white;
    font-size:20px;
    margin-top: 200px;
    margin-left:500px;
    text-align: center;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    min-width:300px;
    min-height:160px;
}