#container{
    width: 20%;
    height: 29%;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-left: 40%;
    margin-top:25%;
    position: absolute;

}

#login{
    background-color: rgba(255, 0, 0, 0);
    border: solid;
    border-color: white;
    border-width:2px;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 200px;
    transition: all 0.5s;
    position: absolute;
    margin-left: 13%;
    margin-top: 10%;
}

#register{
    background-color: rgba(255, 0, 0, 0);
    border: solid;
    border-color: white;
    border-width:2px;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 200px;
    transition: all 0.5s;
    position: absolute;
    margin-left: 13%;
    margin-top: 30%;
}

#recover{
    background-color: rgba(255, 0, 0, 0);
    border: solid;
    border-color: white;
    border-width:2px;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 200px;
    transition: all 0.5s;
    position: absolute;
    margin-left: 13%;
    margin-top: 50%;
}
#welcomeContainer{
   position:absolute;
    margin-top:7%;

    margin-left:15%; 
}

#welcomeText{
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size:100px;
    font-family: fantasy;
}
