/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Feb-2018, 14:30:54
    Author     : tomwa
*/

#info{
    position:absolute;
    font-family: monospace;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-top:300px;
    margin-left:20px;
    width:400px;    
}

.change{
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color:white;
    color:white;
    -moz-transition:0.5s;
    position:absolute;
}

.change:hover{
    -moz-transition:0.5s;
    color:red;
    border-color:red;
}

#btnEmail{
    margin-left:250px;
    margin-top:-30px;
}

#btnFirstName{
    margin-left:250px;
    margin-top:-30px;
}

#btnLastName{
     margin-left:250px;
    margin-top:-30px;
}

#posts{
    position: absolute;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-top:300px;
    margin-left:470px;
    width:400px;
    height:125px;
}

#comments{
    position: absolute;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-top:300px;
    margin-left:920px;
    width:400px;
    height:125px;
}

.comment{
    
}