/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Feb-2018, 14:30:54
    Author     : tomwa
*/

#info{
    position:absolute;
    font-family: fantasy;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-top:140px;
    margin-left:20px;
    min-width:300px;    
    font-size:10px;
    min-height:500px;
}

.change{
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color:white;
    color:white;
    -moz-transition:0.5s;
    position:absolute;
}

.change:hover{
    -moz-transition:0.5s;
    color:red;
    border-color:#76e291;
    color:#76e291;
}

#btnEmail{
    margin-left:250px;
    margin-top:-30px;
}

#btnFirstName{
    margin-left:250px;
    margin-top:-30px;
}

#btnLastName{
    margin-left:250px;
    margin-top:-30px;
}

#posts{
    position: absolute;
    background-color:#1f1f21;
    box-shadow: 5px 10px #1a1b1c;
    margin-top:300px;
    margin-left:470px;
    min-width:700px;
    min-height:125px;
}


.headings{
    color:white;
    font-size:20px;
}

#updateDetails{
    position:absolute;
    margin-top:40px;
    margin-left:-50px;
    color:white;
    background-color: rgba(255, 0, 0, 0); 
    width:100px;
    height:40px;
}

.details{
    color:white;
    font-family:fantasy;
    font-size:16px;
    margin-top:20px;
}